/* Allgemein */
body {
    background-color: #DB7093;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    color: pink;
    font-family: 'Lobster', cursive;
}

h2 {
    color: pink;
    font-family: 'Lobster', cursive;
}

#startseite {
    font-family: 'Times New Roman';
    text-align: center;
    padding: 25px 50px 50px 25px;
}

#ueberMich {
    font-family: 'Times New Roman';
    text-align: center;
    padding: 25px 50px 50px 25px;
}

#kontakt {
    font-family: 'Times New Roman';
    text-align: center;
    padding: 25px 50px 50px 25px;
}
    /* Navigationsleiste */
header {
    width: 100%;
    height: 70px;
    background-color: #282828;   
}

#name {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: pink;
}

span {
    color: white;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

li {
    list-style-type: none;   
    display: inline-block;
    padding: 15px 30px;
}

.pink {
    color: pink;
}

a {
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 1.2vw;
}

a:link {
     text-decoration: none;
}

a:hover {
    color: deeppink;
    transition: 0.5s;
}

    /* Social media icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: pink;
}

.fa-instagram {
  background: white;
  color: pink;
}

.fa-envelope {
    background: white;
    color: pink;
}

    /* Kontaktformular */
.white {
    border: 0px;
    background-color:white;
}

    /* Bilder und Videos */
img {
    transition: 1s; 
    flex-basis: 200px;
    height: 180px;
    filter: grayscale(70%);
    padding: 30px;
}

img:hover {
    transform: scale(1.4);
    filter: grayscale(0%);
}

    /* Media-Queries */
@media (min-width: 1024px) {
}

@media (min-width: 600px) and (max-width: 1024px) {  
}

@media (max-width: 600px) {